<h2><b>BEN Login</b></h2>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter your name" name="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" value="" name="password" type="password"
            [(ngModel)]="password">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Re-enter Password</mat-label>
        <input matInput placeholder="Enter your password" value="" name="repassword" type="password"
            [(ngModel)]="repassword">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
</form>